@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Krona One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Dynamic Theme color */
@layer base {
  :root {
    --background-primary: 210, 17%, 98%;
    --background-secondary: 240, 10%, 96%;
    --background-warning: 29, 100%, 50%;
    --background-danger: 0, 69%, 50%;
    --foreground-primary: 210, 11%, 15%;
    --foreground-secondary: 0, 0%, 0%;
    --foreground-warning: 29, 100%, 50%;
    --foreground-danger: 0, 69%, 50%;
    --border-primary: 210, 11%, 15%;
    --border-secondary: 0, 0%, 0%;
    --border-warning: 29, 100%, 50%;
    --border-danger: 0, 69%, 50%;
    --button-background-primary: 210, 11%, 15%;
    --button-background-secondary: 0, 0%, 0%;
    --button-background-warning: 29, 100%, 50%;
    --button-background-danger: 0, 69%, 50%;
    --button-foreground-primary: 210, 17%, 98%;
    --button-foreground-secondary: 240, 10%, 96%;
    --button-foreground-warning: 29, 100%, 50%;
    --button-foreground-danger: 0, 69%, 50%;
    --input-background-primary: 240, 6%, 91%;
    --input-background-secondary: ;
    --input-background-warning: 29, 100%, 50%;
    --input-background-danger: 0, 69%, 50%;
    --input-placeholder-primary: 0, 0%, 83%;
    --input-placeholder-secondary: 252, 19%, 95%;
    --input-placeholder-warning: 29, 100%, 50%;
    --input-placeholder-danger: 0, 69%, 50%;
    --input-foreground-primary: 210, 11%, 15%;
    --input-foreground-secondary: 200, 75%, 8%;
    --input-foreground-warning: 29, 100%, 50%;
    --input-foreground-danger: 0, 69%, 50%;
    --card-background-primary: 210, 11%, 15%;
    --card-background-secondary: 0, 0%, 0%;
    --card-background-warning: 29, 100%, 50%;
    --card-background-danger: 0, 69%, 50%;
    --card-foreground-primary: 210, 17%, 98%;
    --card-foreground-secondary: 240, 10%, 96%;
    --card-foreground-warning: 29, 100%, 50%;
    --card-foreground-danger: 0, 69%, 50%;
  }

  .dark {
  }
}
